.box {
  min-width: 200px;
  width: 97%;
  margin-top: 15px;
  vertical-align: middle;
  .inner {
    background-color: #fff;
    border-radius: 11px;
  }
}

.box--projecten {
  .inner {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
}
.project {
  background-color: blueviolet;
  border-radius: 10px;
}
.project--orange {
  background-color: $bgOrange;
}
