$bgGray: #f6f6fb;
$bgOrange: rgba(255, 163, 0, 0.1548);
$textOrange: #ff864f;
$Blue: #3d00ff;
$Green: #42c989;

$headingsColor: #0c163d;
$linksColor: #3d4c80;
$colorLight: #aab0c7;

//projects
$googleColor: $textOrange;
$googleBg: $bgOrange;

$appleColor: #165f8b;
$appleBg: rgba(22, 95, 139, 0.15);

$pipiColor: #be1f7a;
$pipiBg: rgba(190, 31, 122, 0.150268);

$spotifyColor: #76c357;
$spotifyBg: rgba(118, 195, 87, 0.154791);

//Inbox
$Orange: $textOrange;
$darkOrange: #ff4a00;

$hamburgerBg: #adadea;
