@media only screen and (max-width: 1012px) {
  aside {
    /*width: 43%;
    min-width: 134px;
    padding: 2%;*/
    .user {
      margin: -13%;
      margin-top: auto;
    }
  }
  /*main {
    width: 80%;
    margin-left: 20%;
  }*/
}

@media only screen and (max-width: 660px) {
  .menu-btn {
    display: block;
  }
  aside {
    transition: transform 0.2s linear;
    transform: translate3d(-100%, 0, 0);
    /* width: 20%;
    min-width: 134px;
    padding: 2%;
    .user {
      margin: -13%;
      margin-top: auto;
    }*/
  }
  main {
    width: 100%;
    margin-left: 0;
    .box {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 520px) {
  main {
    width: 100%;
    padding: 5%;
    margin-left: 0;
  }
}
