@import url("https://fonts.googleapis.com/css?family=Barlow:400,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(18px + 0.8vw);
  line-height: 38px;
  color: #0c163d;
  margin-bottom: 16px;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: calc(12px + 0.8vw);
  line-height: 16px;
  color: #0c163d;
  margin-bottom: 16px;
}

a {
  font-family: "Barlow", sans-serif;
  color: #3d4c80;
  font-weight: 500;
  font-size: calc(11px + 0.5vw);
  line-height: 19px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a:hover {
  color: rgba(61, 76, 128, 0.68);
}

p {
  font-family: "Barlow", sans-serif;
  font-size: calc(11px + 0.4vw);
  color: #3d4c80;
  font-weight: 500;
}

span,
input {
  font-family: "Barlow", sans-serif;
}

aside {
  height: 100%;
  padding: 40px;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside a {
  padding: 10px;
  margin: 25px 0;
  display: block;
  border-radius: 10px;
}

aside a:hover, aside a.active {
  background: #f6f6fb;
}

aside .user {
  height: 50px;
  margin: -40px;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .user img {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 10px;
}

aside .user a.usersettings {
  margin-left: auto;
  margin-right: 15px;
  background: #f6f6fb;
}

aside .user a.usersettings > span {
  font-weight: bold;
}

#search {
  background: #f6f6fb;
  padding: 10px;
  border-radius: 10px;
  margin: 12px 0 20px;
}

#search input {
  background: none;
  border: none;
  width: 81%;
  outline: none;
}

#search input:focus {
  border: none;
}

#search svg {
  fill: #231f20;
  float: right;
  cursor: pointer;
}

main {
  width: 80%;
  padding: 40px;
  margin-left: 280px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.box {
  min-width: 250px;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 28px;
  vertical-align: middle;
}

.box .inner {
  background-color: #fff;
  border-radius: 11px;
  padding: 17px 29px;
}

.box--groei .groeiplan-link {
  float: right;
  font-size: calc(7px + 0.5vw);
  line-height: 26px;
  color: #0c163d;
}

.box--groei .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

.box--groei .inner p {
  font-style: italic;
}

.box--inbox .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 0;
  border-bottom: 1px rgba(61, 76, 128, 0.08) solid;
}

.box--inbox .message:last-child {
  border-bottom: unset;
}

.box--inbox .message-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.box--inbox .message-title a {
  font-size: calc(12px + 0.3vw);
}

.box--inbox .message-date {
  margin-left: auto;
  font-size: calc(9px + 0.3vw);
  color: #aab0c7;
}

.box--inbox .message-date--soon {
  padding: 4px 7px;
  border-radius: 7px;
}

.box--inbox .message-date--today {
  color: #fff;
  background: #ff6868;
}

.box--inbox .message-date--morgen {
  color: #fe0000;
  background: rgba(255, 0, 0, 0.15);
}

.box--agenda .time-range {
  font-size: 14px;
  color: #aab0c7;
  font-weight: 500;
}

.box--agenda .time-range > span {
  margin-left: -13px;
}

.box--agenda .time-range:not(:first-child) {
  margin-top: 15px;
}

.box--projecten .inner {
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px;
  padding: 0;
}

.box--projecten .inner .project {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

.box--projecten .inner .project-name a .lnr {
  font-size: calc(7px + 0.5vw);
  font-weight: bold;
  padding: 0px 0 0 16px;
}

.box--projecten .inner .project-team {
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.box--projecten .inner .project-feedback {
  text-decoration: underline;
  font-size: 14px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  color: #0c163d !important;
}

.box--projecten .inner .project--google {
  padding: 16px;
  border-radius: 10px;
  color: #ff864f;
  background: rgba(255, 163, 0, 0.1548);
}

.box--projecten .inner .project--google a {
  color: #ff864f;
}

.box--projecten .inner .project--apple {
  padding: 16px;
  border-radius: 10px;
  color: #165f8b;
  background: rgba(22, 95, 139, 0.15);
}

.box--projecten .inner .project--apple a,
.box--projecten .inner .project--apple .lnr-users {
  color: #165f8b;
}

.box--projecten .inner .project--pipi {
  padding: 16px;
  border-radius: 10px;
  color: #be1f7a;
  background: rgba(190, 31, 122, 0.150268);
}

.box--projecten .inner .project--pipi a,
.box--projecten .inner .project--pipi .lnr-users {
  color: #be1f7a;
}

.box--projecten .inner .project--spotify {
  padding: 16px;
  border-radius: 10px;
  color: #76c357;
  background: rgba(118, 195, 87, 0.154791);
}

.box--projecten .inner .project--spotify a,
.box--projecten .inner .project--spotify .lnr-users {
  color: #76c357;
}

.lnr-users {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #ff864f;
}

.lnr-chart-bars {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #b0bdec;
}

.lnr-layers {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #42c989;
}

.lnr-rocket {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #3d00ff;
}

.box--inbox .lnr-enter {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #42c989;
  font-size: calc(11px + 0.6vw);
  font-weight: 500;
}

.box--inbox .lnr-rocket {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #3d00ff;
  font-size: calc(11px + 0.6vw);
  font-weight: 500;
}

.box--inbox .lnr-calendar-full {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #ff864f;
  font-size: calc(11px + 0.6vw);
  font-weight: 500;
}

.box--inbox .lnr-sync {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: -0.09em;
  color: #ff4a00;
  font-size: calc(11px + 0.6vw);
  font-weight: 500;
}

.progress {
  margin-bottom: -2px;
  min-width: 72px;
  width: 62%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.progressBar {
  width: 100%;
  height: 8px;
  background: #edeef3;
  overflow: hidden;
  border-radius: 5.5px;
}

.progressBar div {
  display: block;
  float: left;
  height: 8px;
  border-radius: 5.5px;
}

.efficience div.progressBar div {
  background: #ffc100;
  width: 44%;
}

.ux div.progressBar div {
  background: #69cfa5;
  width: 84%;
}

/* thanks to https://codepen.io/anthonycandraw/pen/REqyaw 
hamburger button */
.menu-btn {
  display: none;
  background-color: #adadea;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  height: 56px;
  right: 24px;
  position: fixed;
  z-index: 2;
  top: 24px;
  width: 56px;
  /* Creating the hamburger icon in CSS */
  /* set the three lines of hamburger icon apart */
  /* toggle on with our Javascript function. */
}

.menu-btn ul {
  list-style: none;
  padding: 0;
}

.menu-btn li {
  background-color: #ffffff;
  bottom: 0;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 16px;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn li:first-child {
  -webkit-transform: translate3d(0, -4px, 0);
          transform: translate3d(0, -4px, 0);
}

.menu-btn li:last-child {
  -webkit-transform: translate3d(0, 4px, 0);
          transform: translate3d(0, 4px, 0);
}

.menu-btn--on li:first-child {
  -webkit-transform: rotate(135deg) translate3d(0, 0, 0);
          transform: rotate(135deg) translate3d(0, 0, 0);
}

.menu-btn--on li:last-child {
  -webkit-transform: rotate(-135deg) translate3d(0, 0, 0);
          transform: rotate(-135deg) translate3d(0, 0, 0);
}

.menu-btn--on li:nth-child(2) {
  opacity: 0;
}

.menu--open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 1012px) {
  aside {
    /*width: 43%;
    min-width: 134px;
    padding: 2%;*/
  }
  aside .user {
    margin: -13%;
    margin-top: auto;
  }
  /*main {
    width: 80%;
    margin-left: 20%;
  }*/
}

@media only screen and (max-width: 660px) {
  .menu-btn {
    display: block;
  }
  aside {
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    /* width: 20%;
    min-width: 134px;
    padding: 2%;
    .user {
      margin: -13%;
      margin-top: auto;
    }*/
  }
  main {
    width: 100%;
    margin-left: 0;
  }
  main .box {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  main {
    width: 100%;
    padding: 5%;
    margin-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */